<!DOCTYPE html>
<html lang=en>

	{% load static %}
	<head>
		<meta charset="UTF8">
		<title>Remote Print</title>
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	</head>
	<body>
		<div class="navbar-strip">
			<div class="navbar">
				<div class="navbar-item">
					<a href="/">Print</a>
				</div>
				<div class="navbar-item">
					<a href="/history/">History</a>
				</div>
				{% if request.user.is_authenticated %}
					<div class="navbar-item">
						<a href="/logout/">Log out</a>
					</div>
				{% endif %}
			</div>
		</div>
		<main>
			{% block content %}
			{% endblock %}
		</main>
	</body>
</html>
